{:format :kotoba.kir/v4,
 :signature nil,
 :functions
 [{:name uart-base,
   :params [],
   :result :i64,
   :effects #{},
   :body 150994944,
   :param-types []}
  {:name uart-size,
   :params [],
   :result :i64,
   :effects #{},
   :body 4096,
   :param-types []}
  {:name virtio-base,
   :params [],
   :result :i64,
   :effects #{},
   :body 167772160,
   :param-types []}
  {:name virtio-stride,
   :params [],
   :result :i64,
   :effects #{},
   :body 512,
   :param-types []}
  {:name virtio-count,
   :params [],
   :result :i64,
   :effects #{},
   :body 32,
   :param-types []}
  {:name virtio-window,
   :params [],
   :result :i64,
   :effects #{},
   :body (* (virtio-stride) (virtio-count)),
   :param-types []}
  {:name device-uart,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name device-virtio,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name psci-version-fid,
   :params [],
   :result :i64,
   :effects #{},
   :body 2214592512,
   :param-types []}
  {:name psci-cpu-on-32-fid,
   :params [],
   :result :i64,
   :effects #{},
   :body 2214592515,
   :param-types []}
  {:name psci-cpu-on-64-fid,
   :params [],
   :result :i64,
   :effects #{},
   :body 3288334339,
   :param-types []}
  {:name psci-system-off-fid,
   :params [],
   :result :i64,
   :effects #{},
   :body 2214592520,
   :param-types []}
  {:name psci-system-reset-fid,
   :params [],
   :result :i64,
   :effects #{},
   :body 2214592521,
   :param-types []}
  {:name action-version,
   :params [],
   :result :i64,
   :effects #{},
   :body 1,
   :param-types []}
  {:name action-cpu-on,
   :params [],
   :result :i64,
   :effects #{},
   :body 2,
   :param-types []}
  {:name action-system-off,
   :params [],
   :result :i64,
   :effects #{},
   :body 3,
   :param-types []}
  {:name action-system-reset,
   :params [],
   :result :i64,
   :effects #{},
   :body 4,
   :param-types []}
  {:name access-size-ok?,
   :params [len],
   :result :bool,
   :effects #{},
   :body
   (if
    (= len 1)
    true
    (if (= len 2) true (if (= len 4) true (if (= len 8) true false)))),
   :param-types [:i64]}
  {:name in-uart?,
   :params [gpa],
   :result :bool,
   :effects #{},
   :body
   (if (< gpa (uart-base)) false (< gpa (+ (uart-base) (uart-size)))),
   :param-types [:i64]}
  {:name in-virtio?,
   :params [gpa],
   :result :bool,
   :effects #{},
   :body
   (if
    (< gpa (virtio-base))
    false
    (< gpa (+ (virtio-base) (virtio-window)))),
   :param-types [:i64]}
  {:name virtio-offset,
   :params [gpa],
   :result :i64,
   :effects #{},
   :body
   (let
    [d (- gpa (virtio-base))]
    (- d (* (quot d (virtio-stride)) (virtio-stride)))),
   :param-types [:i64]}
  {:name classify,
   :params [gpa len],
   :result [:result :i64 :string],
   :effects #{},
   :body
   (if
    (if (access-size-ok? len) false true)
    (result-err-of [:result :i64 :string] "mmio/bad-access-size")
    (if
     (in-uart? gpa)
     (if
      (> (+ (- gpa (uart-base)) len) (uart-size))
      (result-err-of [:result :i64 :string] "mmio/straddles-window")
      (result-ok-of [:result :i64 :string] (device-uart)))
     (if
      (in-virtio? gpa)
      (if
       (> (+ (virtio-offset gpa) len) (virtio-stride))
       (result-err-of [:result :i64 :string] "mmio/straddles-window")
       (result-ok-of [:result :i64 :string] (device-virtio)))
      (result-err-of [:result :i64 :string] "mmio/unmapped")))),
   :param-types [:i64 :i64]}
  {:name device-offset,
   :params [gpa len],
   :result [:result :i64 :string],
   :effects #{},
   :body
   (if
    (if (access-size-ok? len) false true)
    (result-err-of [:result :i64 :string] "mmio/bad-access-size")
    (if
     (in-uart? gpa)
     (result-ok-of [:result :i64 :string] (- gpa (uart-base)))
     (if
      (in-virtio? gpa)
      (result-ok-of [:result :i64 :string] (virtio-offset gpa))
      (result-err-of [:result :i64 :string] "mmio/unmapped")))),
   :param-types [:i64 :i64]}
  {:name virtio-index,
   :params [gpa],
   :result [:result :i64 :string],
   :effects #{},
   :body
   (if
    (in-virtio? gpa)
    (result-ok-of
     [:result :i64 :string]
     (quot (- gpa (virtio-base)) (virtio-stride)))
    (result-err-of [:result :i64 :string] "mmio/not-virtio")),
   :param-types [:i64]}
  {:name psci-action,
   :params [fid],
   :result [:result :i64 :string],
   :effects #{},
   :body
   (if
    (= fid (psci-system-off-fid))
    (result-ok-of [:result :i64 :string] (action-system-off))
    (if
     (= fid (psci-system-reset-fid))
     (result-ok-of [:result :i64 :string] (action-system-reset))
     (if
      (= fid (psci-version-fid))
      (result-ok-of [:result :i64 :string] (action-version))
      (if
       (= fid (psci-cpu-on-32-fid))
       (result-ok-of [:result :i64 :string] (action-cpu-on))
       (if
        (= fid (psci-cpu-on-64-fid))
        (result-ok-of [:result :i64 :string] (action-cpu-on))
        (result-err-of
         [:result :i64 :string]
         "psci/not-supported")))))),
   :param-types [:i64]}],
 :oracle-value nil,
 :schema-identities nil,
 :exports
 [uart-base
  uart-size
  virtio-base
  virtio-stride
  virtio-count
  virtio-window
  device-uart
  device-virtio
  psci-version-fid
  psci-cpu-on-32-fid
  psci-cpu-on-64-fid
  psci-system-off-fid
  psci-system-reset-fid
  action-version
  action-cpu-on
  action-system-off
  action-system-reset
  access-size-ok?
  in-uart?
  in-virtio?
  virtio-offset
  classify
  device-offset
  virtio-index
  psci-action],
 :schemas nil,
 :effects #{},
 :blocks [],
 :entry nil}
